
.conainer1{
    top: 0px;
    position: sticky;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(171, 43, 226);
    box-sizing: border-box;
    margin-bottom: 75px;
    color: white;
   
}
.cont2{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 60px;
  
    
}
.box1 img{
    height: 300px;
    width: 250px;
}
.box2{
    height: 300px;
    width: 500px;
    background-color: #E5D8FF;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
    border: 2px solid violet;
    box-sizing: border-box;
}
.cont3{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100px;
    
   
    
}
.cont3 i{
    
}
#srch{
    height: 35px;
    border-radius: 20px;
}
.cont3 .ic1{
    border: 1px solid black;

}
.cont3 .ic1 i{
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
    
}
#i1{
    color: green;
}
#i2{
    color: blue;
}
#i3{
    color: rgb(24, 158, 203);
}
.cont4{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 75px;
    color: white;
   
}
.cont4 .itms{
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 150px;
    background-color: burlywood;
    border-radius: 9px;
}

.cont5{
    background-color: #483EFF;
    display: flex;
    justify-content: space-between;
    
    height: 500px;
    width: 1000px;
    margin-top: 75px;
    border-radius: 15px;
    box-sizing: border-box;
}
.cont6{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
    justify-content: space-around;
    margin-left: 50px;
    text-align: center;
}
.cont6 .items{
   padding-top: 25px;
    height: 70px;
    width: 180px;
    box-sizing: border-box;
    border-radius: 15px;
    

}
.cont5 .itm7{
    height: 400px;
    width: 550px;
    background-color: white;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 15px;
    box-sizing: border-box;
}
/* .itm7{
    height: 400px;
    width: 400px;
    color: black;
    background-color: white;
    
} */


.itm7 td{
    
    font-size: 20px;
    margin-bottom: 35px;
}
.float{
   
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: fixed;
    background-color: white;
}
.float img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
button{
    background-color: black;
    color: white;
    margin-top: 150px;
    margin-left: 300px;
    border-radius: 7px;
}
